#login-modal .modal-content{
    background-color: #ffffff;
    padding: 20px;
    border-radius: 3px;
}

#login-modal .modal-dialog {
    width: 450px;
}

#login-modal input[type=text], input[type=tel], input[type=password]{
	margin-top: 10px;
    box-shadow: none;
    border: 2px solid lightgrey;
    transition: all 600ms;
    font-size: 16px;
    padding: 12px 16px;
    font-weight: 700;
    border-radius: 2px;
    height: auto;
}
#login-modal .form-control:focus, .form-control:active{
    box-shadow: none;
    border-color: #4b6cb7;
}

#div-switch{
    margin-top: 10px;
}

#div-switch span{
    font-size: 18px;
    margin-bottom: 10px;
    color: #333;
    font-weight: 700;
}

.switch, .switch:hover{
    font-size: 16px;
    color: #71b552;
    text-decoration: none;
    font-weight: 700;
}

.changeModalBody, .changeModalBody:hover{
    font-size: 16px;
    color: #526cb5;
    text-decoration: none;
    font-weight: 700;
}

.termsCheck {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-left: 12px;
    margin-bottom: 12px;
    margin-right: 12px;
    margin-top: 12px;
    cursor: pointer;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/* Hide the browser's default checkbox */
.termsCheck input {
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

/* Create a custom checkbox */
.checkmark {
    position: absolute;
    top: -10;
    left: 0;
    right:0;
    bottom: 0;
    height: 25px;
    width: 25px;
    background-color: #eee;
    border-style: solid;
    border-width: 2px;
}

/* On mouse-over, add a grey background color */
.termsCheck:hover input ~ .checkmark {
    background-color: #ccc;
}

/* When the checkbox is checked, add a blue background */
.termsCheck input:checked ~ .checkmark {
    background-color: #2196F3;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

/* Show the checkmark when checked */
.termsCheck input:checked ~ .checkmark:after {
    display: block;
}

/* Style the checkmark/indicator */
.termsCheck .checkmark:after {
    left: 9px;
    top: 5px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

.modal-backdrop.in {
    filter: alpha(opacity=50);
    opacity: .8;
}

.modal-content {
    background-color: #ececec;
    border: 1px solid #bdc3c7;
    border-radius: 0px;
    outline: 0;
}

.modal-header {
    min-height: 16.43px;
    padding: 15px 15px 15px 15px;
    border-bottom: 0px;
}

.modal-body {
    position: relative;
    padding: 5px 15px 5px 15px;
}

.modal-footer {
    padding: 5px 15px 15px 15px;
    text-align: left;
    border-top: 0px;
}

.checkbox {
    margin-bottom: 0px;
}

.btn {
    border-radius: 2px;
}

.btn:focus,
.btn:active:focus,
.btn.active:focus,
.btn.focus,
.btn:active.focus,
.btn.active.focus {
    outline: none;
}

.btn-lg, .btn-group-lg>.btn,
.btn-lg:hover, .btn-group-lg>.btn:hover,
.btn-lg:focus, .btn-group-lg>.btn:active{
    border-radius: 2px;
    background-color: #71b552;
    border: 0;
}

.btn-link, .btn-link:hover, .btn-link:active {
    padding: 10px 0px 2px 0px;
    color: #333333;
    font-weight: 700;
    border-bottom: 2px solid #333333;
}

#registration-button:disabled{
    border-radius: 2px;
    background-color: #71b552;
    border: 0;
}

.btn-link:hover, .btn-link:focus {
    color: #2c3e50;
    text-decoration: none;
}

.glyphicon {
    top: 0px;
}

.form-control {
    border-radius: 0px;
}
