/*
  _ __ ___   ___  _____      __
 | '_ ` _ \ / _ \/ _ \ \ /\ / /
 | | | | | |  __/ (_) \ V  V / 
 |_| |_| |_|\___|\___/ \_/\_/  

*/

@import 'https://fonts.googleapis.com/css?family=Roboto:400,700';
html, body{
	font-family: 'Roboto', 'Arial', 'Helvetica', sans-serif;
	height: 100%;
	margin: 0;
	padding: 0;
}
.full-height{
	height: 100%;
	position: relative;
	padding-top: 90px;
}
.fh-hero{
	background: #4b6cb7;
	background: -webkit-linear-gradient(to left, #4b6cb7 , #182848);
	background: linear-gradient(to left, #4b6cb7 , #182848);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center bottom;
	background-attachment: fixed;
}

.navbar{
	margin-bottom: 0;
}
.navbar-default{
    background-color: #182848;
    border: none;
    padding-top: 10px;
    padding-bottom: 10px;
    transition: all 300ms;
}
.navbar-brand{
	padding-top: 8px;
}
.navbar-brand img{
	max-width: 180px;
    max-height: 45px;
}
.navbar-default .navbar-toggle .icon-bar{
	background-color: #ffffff;
}
.navbar-toggle{
	border: 0;
	padding-right: 0;
}
.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus{
	background-color: transparent;
}
.navbar-default .navbar-nav>li>a,
.navbar-default .navbar-nav>li>a:hover,
.navbar-default .navbar-nav>li>a:focus,
.navbar-default .navbar-nav>li>a:active{
	color: #ffffff;
	text-transform: uppercase;
}
.navbar-nav>li>a.bold{
	font-weight: 700;
}
.navbar-default .navbar-collapse,
.navbar-default .navbar-form{
	border: 0;
}

.hero{
	color: #ffffff;
	position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
}
.hero h2{
	font-size: 30px;
	color: #ffffff;
}
.hero .form-control{
	background-color: transparent;
	border-radius: 0;
	font-weight: bold;
	text-transform: uppercase;
	text-align: center;
	font-size: 30px;
	padding: 10px;
	height: auto;
	color: #ffffff;
	border: 0;
	box-shadow: none;
	border-bottom: 1px solid #ffffff;
	margin: 20px 0;
}

.hero .form-control:focus{ border-bottom: 1px solid #ffffff; }

.hero .form-control::-webkit-input-placeholder { transition: all 300ms; color: #ffffff; }
.hero .form-control:-moz-placeholder{ transition: all 300ms; color: #ffffff; }
.hero .form-control::-moz-placeholder { transition: all 300ms; color: #ffffff; }
.hero .form-control:-ms-input-placeholder { transition: all 300ms; color: #ffffff; }

.hero .form-control:focus::-webkit-input-placeholder{ color: transparent; }
.hero .form-control:focus:-moz-placeholder{ color: transparent; }
.hero .form-control:focus::-moz-placeholder { color: transparent; }
.hero .form-control:focus:-ms-input-placeholder { color: transparent; }

.hero .btn{
	text-transform: uppercase;
	font-size: 20px;
	border: 2px solid #71b552;
	width: 50%;
	border-radius: 2px;
	margin-top: 10px;
	background-color: #71b552;
	color: #ffffff;
	padding: 10px;
}

.fh-what{
	background-color: #f5f6f7;
	height: 100%;
}
.fh-what .container{
	position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
}
.fh-what .row{
	padding: 20px;
	padding-top: 0;
}
.fh-what .row .col-md-8 h2{
	font-weight: 700;
	padding-bottom: 10px;
	font-size: 34px;
}
.fh-what .row .col-md-8 p{
	font-size: 22px;
}



.fh-med{
	background-color: #f5f6f7;
}
.fh-med .row{
	padding: 20px;
}
.fh-med .col-md-4{
	margin-top: 20px;
}
.fh-med h3{text-align: center;}

.fh-med .medicine-list{
		transform: none;
		position: inherit;
	}

.caption {
    width:100%;
    position: absolute;
    background:#000;
}
.caption.red{
	background-color: #a31d22;
}
.caption.blue{
	background-color: #33658a;
}
.caption.orange{
	background-color: #ca5a27;
}
.thumbnail {
	border: 0 none;
	box-shadow: none;
	margin:0;
	padding:0;
}
.caption h3 {
	padding: 20px;
	color: #fff;
    -webkit-font-smoothing: antialiased;
}

.fh-verified{
	background-color: #71b552;
}
.fh-notverified{
	background-color: #e74c3c;
}
.verified-message{
	color: #ffffff;
	position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
}
.notverified-message{
	color: #ffffff;
	position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
}


.fh-report{
	background-color: #e74c3c;
}
.report-med{
	color: #ffffff;
}
.report-med h2{
	font-weight: 700;
	margin-bottom: 20px;
}
.report-med .form-control,
.report-med .form-control:hover,
.report-med .form-control:focus,
.report-med .form-control:active{
	margin: 10px 0;
	font-size: 18px;
	padding: 10px 16px;
	height: auto;
	border: 0;
	border-radius: 3px;
	box-shadow: none;
}

.report-med .col-md-6 .btn-default,
.report-med .col-md-6 .btn-default:hover,
.report-med .col-md-6 .btn-default:active,
.report-med .col-md-6 .btn-default:focus{
	padding: 8px 30px;
	border-radius: 3px;
	box-shadow: none;
	background-color: transparent;
	color: #ffffff;
	border: 2px solid #ffffff;
	outline: 0;
	font-size: 18px;
}


.fh-press{
	padding-top: 90px;
}

.fh-contact{
	padding-top: 90px;
	margin-bottom: 80px;
}
.fh-contact .contact h2{
	font-size: 38px;
}
.fh-contact .contact h3{
	color: grey;
}
.fh-contact .contact p{
	font-size: 22px;
}

.row-press-post{
	margin-bottom: 20px;
}
.row-press-post:first-child{
	margin-top: 20px;
}

.check {
	stroke-dasharray: 130px 130px;
	stroke-dashoffset: 130px;
	-webkit-transition: stroke-dashoffset 4.1s linear 0s;
	transition: stroke-dashoffset 500ms ease-in-out;
}

.verify-another-btn,
.verify-another-btn:hover,
.verify-another-btn:focus{
	text-transform: uppercase;
	border: 2px solid #ffffff;
	border-radius: 4px;
	margin-top: 10px;
	background-color: transparent;
	color: #ffffff;
	padding: 10px 30px;
	font-size: 18px;
	font-weight: 700;
}
.verify-another .form-control,
.verify-another .form-control:active{
	background-color: transparent;
	border-radius: 0;
	font-weight: bold;
	text-transform: uppercase;
	text-align: center;
	font-size: 30px;
	padding: 10px;
	height: auto;
	color: #ffffff;
	border: 0;
	box-shadow: none;
	border-bottom: 1px solid #ffffff;
	margin: 20px 0;
}
.verify-another .form-control::-webkit-input-placeholder { transition: all 300ms; color: #ffffff; }
.verify-another .form-control:-moz-placeholder{ transition: all 300ms; color: #ffffff; }
.verify-another .form-control::-moz-placeholder { transition: all 300ms; color: #ffffff; }
.verify-another .form-control:-ms-input-placeholder { transition: all 300ms; color: #ffffff; }
.verify-another .btn{
	color: #ffffff;
	background-color: transparent;
	border: 1px solid #ffffff;
	font-size: 20px;
	padding: 14px 24px;
}


.footer{
	padding: 40px 0px;
	background-color: #182848;
	color: #ffffff;
}
.footer h4{
	margin: 0;
}
.footer .icon{
	width: 5%;
	height: 5%;
	margin-left: 20px;
}

/* Small Devices, Tablets */
@media only screen and (max-width : 768px) {
	.navbar{
		background-color: #182848 !important;
	}
	.navbar-default{
		padding: 10px;
	}
	#login-modal .modal-dialog {
    	width: auto !important;
	}
	.fh-med, .fh-how{
	 	height: auto;
	}
}
/* Extra Small Devices, Phones */ 
@media only screen and (max-width : 480px) {
	.navbar-default{
		padding: 10px;
	}
	.navbar{
		background-color: #182848 !important;
	}

	.fh-platforms{
		height: auto;
	}
	.fh-platforms .platforms .container{
		margin-top: 50px;
		position: inherit;
		transform: none;
	}

	#login-modal .modal-dialog {
    	width: auto !important;
	}
	.fh-med, .fh-how{
		height: auto;
	}
}
/* Custom, iPhone Retina */ 
@media only screen and (max-width : 320px) {
	.navbar-default{
		padding: 10px;
	}

	.fh-platforms{
		height: auto;
	}
	.fh-platforms .platforms .container{
		margin-top: 50px;
		position: inherit;
		transform: none;
	}

	.navbar{
		background-color: #182848 !important;
	}
	#login-modal .modal-dialog {
    	width: auto !important;
	}
    .fh-med, .fh-how{
		height: auto;
	}
}

/* PLatforms*/

.fh-platforms{
	padding-top: 90px;
	height: 100%;
}
.fh-platforms .platforms .container{
	font-size: 18px;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 100%;
}
.fh-platforms .platforms .container .col-md-3{
	margin: 40px 0;
}