/* #5da9a9 #e5f4e3 */
@import url(http://fonts.googleapis.com/css?family=Roboto:100,400,300,700);
*{ margin: 0; padding: 0; }
body,html{
	margin: 0;
	padding: 0;
	background-color: #5da9a9;
	font-family: 'Roboto', sans-serif;
	color: #ffffff;
	height: 100%;
}
h1,h2,h3,h4,h5,h6{ font-weight: 100; }
/* Prelaoder */
#preloader {
	position:fixed;
	top:0;
	left:0;
	right:0;
	bottom:0;
	background-color:#ffffff; /*Don't Change*/
	z-index:99;
}
#status {
	width:128px;
	height:128px;
	position:absolute;
	left:50%; /* centers the loading animation horizontally one the screen */
	top:50%; /* centers the loading animation vertically one the screen */
	background-image:url(../images/status.png); /* path to your loading animation */
	background-repeat:no-repeat;
	background-position:center;
	margin:-100px 0 0 -100px; /* is width and height divided by two */
}
/* End Prelaoder */

/* Sidebar */
#sidebar{
	height: 100%;
	position: fixed;
	background-color: #5da9a9;
	width: 20%;
	border-right: 1px solid #e5f4e3;
	margin: 0;
	padding-top: 9%;
}

#sidebar ul {
	list-style: none;
	margin: 0px auto;
}

#sidebar ul li {
	padding: 8px;
}
/* End Sidebar */

/* Preloader */
#preloader {
	position:fixed;
	top:0;
	left:0;
	right:0;
	bottom:0;
	background-color:#ffffff; /*Don't Change*/
	z-index:99;
}
#status {
	width:128px;
	height:128px;
	position:absolute;
	left:50%; /* centers the loading animation horizontally one the screen */
	top:50%; /* centers the loading animation vertically one the screen */
	background-image:url(../images/status.png); /* path to your loading animation */
	background-repeat:no-repeat;
	background-position:center;
	margin:-100px 0 0 -100px; /* is width and height divided by two */
}
/* ./Preloader */

/* Wrapper */
#wrapper{
	margin-left: 20%;
}
#wrapper .row-line{
	margin-bottom: 10px;
}
#wrapper .wrapper-inside{
	width: 1000px;
	height: 510px;
	padding: 9% 12%;
}
#wrapper .row-line .block-b,
#wrapper .row-line .block-s{
	display: inline-block;
	background-color: #e5f4e3;
	border-radius: 2px;
	color: #32282B;
	margin-left: -4px;
	text-align: center;
}
#wrapper .row-line .block-b{
	width: 400px;
	height: 245px;
	margin-right: 10px;
}
#wrapper .row-line .block-s{
	width: 200px;
	height: 245px;
	margin-right: 10px;
}
#wrapper .row-line .block-s h1, #wrapper .row-line .block-b h1{
	padding-top: 90px;
}
/* End Wrapper */

/* Add */
.add-container{
	background-color: #e5f4e3;
	color: #5da9a9;
	width: 765px;
	height: 510px;
	padding: 20px;
	overflow-y: auto;
}
.add-container p{
	padding: 8px;
}
.add-container input{
	margin: 10px 0;
	border: 0;
	border-bottom: 2px solid #5da9a9;
	background-color: #e5f4e3;
	padding: 10px;
	margin-left: 20px;
	padding-left: 0;
	font-size: 18px;
	width: 50%;
	border-radius: 0;
}
.add-container button{
	background-color: transparent;
	border: 2px solid #5da9a9;
	background-color: #5da9a9;
	padding: 10px 20px;
	font-size: 18px;
	cursor: pointer;
	color: #e5f4e3;
	margin-left: 20px;
}

/** tabs **/
.ui-widget-content, .ui-widget-header {
	border: none !important;
	background: transparent !important;
}

.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default {
	background: #5DA9A9 !important;
	border: 1px solid #5DA9A9;
}

.ui-state-active, .ui-widget-content .ui-state-active, .ui-widget-header .ui-state-active {
	color: #5DA9A9 !important;
}
