@import url(https://fonts.googleapis.com/css?family=Magra);
body{
	font-family: 'Magra', sans-serif;
	background-color: #fff;
}
.navbar{
	background-color: #fff;
	border-bottom: 1px solid #eee;
	padding: 10px;
}
.navbar .navbar-form input[type="text"]{
	border-radius: 0;
	-webkit-box-shadow: none;
    box-shadow: none;
    border: 0;
}
.navbar-default .navbar-nav>li>a{
	-webkit-transition: all 300ms;
	-o-transition: all 300ms;
	transition: all 300ms;
}
.navbar-default .navbar-nav>li>a{
    color: #2ecc71;
}
.navbar-default .navbar-nav>.open>a, .navbar-default .navbar-nav>.open>a:hover, .navbar-default .navbar-nav>.open>a:focus {
    background-color: #fff;
    color: #2ecc71;
}
select{
	width: 290px;
}
button.form-control{
	border: 0;
	border-radius: 0;
	box-shadow: none;
}
button.form-control:hover, button.form-control:active, button.form-control:focus{
	box-shadow: none;
	background-color: #eee;
}
.btn-deafult{
	padding: 0;
	margin: 0;
}
.responses--select{
	background-color: #fff;
	color: #2ecc71;
	height: 48px;
    -moz-appearance: window;
    -webkit-appearance: none;
	border: 0;
	outline: 0;
	cursor: pointer;
}
.responses--select:hover, .responses--select:active, .responses--select:focus{
	box-shadow: none;
	outline: 0;
	color: #2ecc71;
	background-color: #fff;
}
.responses--select:active, .responses--select.active, .open .dropdown-toggle.responses--select{
	box-shadow: none;
	outline: 0;
	color: #2ecc71;
	background-color: #fff;
}
button.multiselect, button.multiselect:hover, button.multiselect:active, button.multiselect:focus{
	background-color: #2ecc71;
	border: 0;
	border-radius: 0;
	box-shadow: none;
	color: #fff;
	font-size: 16px;
	padding: 10px;
}
.btn-group.open button.multiselect{
	background-color: #2ecc71;
	color: #fff;
	box-shadow: none;
}
ul.multiselect-container{
	width: 290px;
	border: 0;
	border-radius: 0;
	box-shadow: none;
	padding: 0;
	background-color: #2ecc71;
	margin: 0;
}
ul.multiselect-container li a label{
	color: #fff;
}
ul.multiselect-container a:hover, ul.multiselect-container a:active, ul.multiselect-container a:focus{
	background-color: #2ecc71;
}
ul.multiselect-container>.active>a, ul.multiselect-container>.active>a:hover, ul.multiselect-container>.active>a:focus{
	background-color: #2ecc71;
}
input[type="checkbox"]{
	border-radius: 0;
}
.daterangepicker{
	border-radius: 0;
	box-shadow: none;
}
.daterangepicker td.active, .daterangepicker td.active, .daterangepicker td.active:hover{
	background-color: #2ecc71;
	border-radius: 0;
}
.daterangepicker td.start-date.end-date{
	border-radius: 0;
}
.daterangepicker .input-mini.active{
	border: 1px solid #2ecc71;
}
.daterangepicker .input-mini{
	border-radius: 0px;
}
.daterangepicker .calendar-table{
	border-radius: 0;
	border: 0;
}
.daterangepicker .calendar td:hover{
	border-radius: 0;
}
.slider-container{
	margin-left: 26px;
}