html, body{
	height: 100%;
	background-color: #ffffff;
	font-family: 'Roboto', sans-serif;
}
#sidebar {
    background: #222328;
    color: #ffffff;
    width: 150px;
    height: 100%;
    left: 0;
    float:left;
}

#sidebar a{
	text-decoration: none;
	color: #ffffff;
}
.sidebar-items{
	margin-top: 30px;
}
.sidebar-item{
	text-transform: uppercase;
	font-weight: 500;
	padding: 10px;
	transition: all 300ms;
	height: 120px;
}

.sidebar-item.active{
	background-color: #2461cc;
}

#content{
    float: left;
    margin-left: 150px;
    position:fixed;
}
#content .container{
	margin: 5% 8%;
}
#content h1{
	font-weight: 300;
	color: #2461cc;
}
#content h3{
	font-weight: 300;
	color: #65676b;
}



#content form{
	margin-top: 20px;
}
#content form .form-inline .form-control{
	background-color: #ffffff;
	border: 2px solid #dddddd;
	padding: 12px 18px;
	height: auto;
	border-radius: 3px;
	box-shadow: none;
	margin-bottom: 20px;
	margin-right: 30px;
	width: 400px;
	font-size: 18px;
}
#content .choose-med form .btn{
	border: 0;
	background-color: #2461cc;
	font-size: 18px;
	color: #ffffff;
	font-weight: 700;
	outline: 0;
}
#content .choose-med form .btn{
	font-weight: 300;
}
#content .choose-med form .btn.active{
	background-color: #093888 !important;
	box-shadow: none;
	font-weight: 700;
	color: #ffffff;
}



#content .code-log-header{
	margin-bottom: 10px;
}



.table-responsive{
	width: 85%;
	height: 400px;
	overflow: auto;
}
.table th{
	background-color: #2461cc;
	color: #ffffff;
	font-weight: 300;
}
.table-responsive::-webkit-scrollbar {
    width: 6px;
} 
.table-responsive::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
} 
.table-responsive::-webkit-scrollbar-thumb {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
}

.logout, .logout a, .logout a:hover{
	text-decoration: none;
	text-align: right;
	margin-top: 20px;
	color: #2461cc;
	font-weight: 700;
}

.bootstrap-select:not([class*=col-]):not([class*=form-control]):not(.input-group-btn){
	width: 100%;
}

#content .search-log{
	margin: 0;
}
#content .search-log .btn,
#content .search-log .form-control,
#content .search-log .form-control:active,
#content .search-log .form-control:focus,
#content .search-log .input-daterange .form-control,
#content .search-log .input-daterange .form-control:focus,
#content .search-log .input-daterange .form-control:active{
	background-color: transparent;
	font-size: 14px;
	color: #888888;
	border-radius: 0;
	border: 2px solid #888888;
	outline: 0;
	height: auto;
	box-shadow: none;
}
#content .search-log .input-daterange .input-group-addon{
	background-color: #888888;
	color: #ffffff;
	border: 0;
}

#content .info{
	margin-top: 20px;
}
#content .info span{
	font-weight: 700;
	font-size: 14px;
}
#content .info p{
	font-size: 24px;
	font-weight: 300;
}

#content .btn-submit{
	border: 0;
	background-color: #27ae60;
	font-size: 18px;
	color: #ffffff;
	outline: 0;
	margin-top: 20px;
	font-weight: 400;
	padding: 8px 16px;
}

#content h3 a{
	color: #27ae60;
	text-decoration: none;
}
#content h4{
	font-weight: 300;
}

.sidebar-item h5{
	height:100%;
	margin-top:45%;
}

@media only screen and (max-width : 320px) {
	.logout, .logout a, .logout a:hover{
		text-align: left;
		margin-left: 20px;
	}
}
@media only screen and (max-width : 480px) {
	.logout, .logout a, .logout a:hover{
		text-align: left;
		margin-left: 20px;
	}
}
@media only screen and (max-width : 768px) {
	.logout, .logout a, .logout a:hover{
		text-align: left;
		margin-left: 20px;
	}
}